<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InfinityEngineGameSettings" type="IE_Portrait_Manager.ConfigSections.InfinityEngineGameSettings, IE_Portrait_Manager"/>
  </configSections>
  
  <InfinityEngineGameSettings xmlns="InfinityEngineConfigSection">
    <Games>
      <Game Name="BaldursGate">
        <Portrait size="Giant" height="330" width="210" imageFormat="bitap" />
        <Portrait size="Large" height="170" width="110" imageFormat="bitap" />
        <Portrait size="Small" height="60" width="68" imageFormat="bitap" />
      </Game>
      <Game Name="BaldursGate2">
        <Portrait size="Giant" height="330" width="210" imageFormat="bitap" />
        <Portrait size="Large" height="170" width="110" imageFormat="bitap" />
        <Portrait size="Small" height="60" width="38" imageFormat="bitap" />
      </Game>
      <Game Name="IcewindDale">
        <Portrait size="Giant" height="330" width="210" imageFormat="bitap" />
        <Portrait size="Large" height="170" width="110" imageFormat="bitap" />
        <Portrait size="Small" height="58" width="36" imageFormat="bitap" />
      </Game>
      <Game Name="IcewindDale2">
        <Portrait size="Large" height="330" width="210" imageFormat="bitap" />
        <Portrait size="Small" height="42" width="42" imageFormat="bitap" />
      </Game>
      <Game Name="NeverwinterNights">
        <Portrait size="Giant" height="400" width="256" actualHeight="512" actualWidth="256" imageFormat="targa" />
        <Portrait size="Large" height="200" width="128" actualHeight="256" actualWidth="128" imageFormat="targa" />
        <Portrait size="Medium" height="100" width="64" actualHeight="128" actualWidth="64" imageFormat="targa" />
        <Portrait size="Small" height="50" width="32" actualHeight="64" actualWidth="32" imageFormat="targa" />
        <Portrait size="Tiny" height="25" width="16" actualHeight="32" actualWidth="16" imageFormat="targa" />
      </Game>
    </Games>
  </InfinityEngineGameSettings>
</configuration>